/* 404 Page Styles */
.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
  }
  
  .error-container h1 {
    font-size: 8rem;
    font-weight: bold;
    color: #292929;
    margin: 0;
  }
  
  .error-container h2 {
    font-size: 2.5rem;
    margin: 20px 0;
    color: #292929;
  }
  
  .error-container p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
  }
  
  .error-container .btn {
    padding: 15px 30px;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #0082ff;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
  }
  
  .error-container .btn:hover {
    background-color: #005bb5;
  }